.Main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(247, 169, 217);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: rgb(209, 111, 120);
  display: flex;
  align-items: center;
  padding: 5px 30px;
  border-radius: 25%;
}

.timer {
  font-weight: bolder;
  font-style: italic;
  margin-left: 10px;
  color: white;
}

.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
}